<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        var PATHS = [
            null,
            '/cookie-parser-result/foo/bar',
            '/cookie-parser-result/foo',
            '/cookie-parser-result/foo/qux',
            '/cookie-parser-result/foo/qux/',
            '/cookie-parser-result/foo/',
            '/cookie-parser-result/foo/qux?',
            '/cookie-parser-result/foo/qux#',
            '/cookie-parser-result/foo/qux;',
            '/cookie-parser-result/f%6Fo/bar',
            '/cookie-parser-result/',
            '/cookie-parser-result'
        ];

        var DOMAINS = [
            null,
            document.domain,
            '.' + document.domain,
            document.domain + '8888'
        ];

        document.cookie.split(';').forEach(function (c) {
            c = c.trim();

            var name = c.split('=')[0].trim();

            var keys = [
                c,
                name,
                name + '=deleted',
                name + '='
            ];

            keys.forEach(function (key) {
                DOMAINS.forEach(function (domain) {
                    PATHS.forEach(function (path) {
                        var expire = key + '; Expires=Fri, 07 Aug 2007 08:04:19 GMT';

                        if (domain)
                            expire += '; Domain=' + domain;

                        if (path)
                            expire += '; Path=' + path;

                        document.cookie = expire;
                    });
                });
            });
        });

        window.top.postMessage('ready', 'http://home.example.org:8888');
    </script>
</head>
<body>

</body>
</html>