<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script>
        document.cookie.split(';').forEach(function (c) {
            var key = c.split("=")[0].trim();

            var strs = [
                key + '=deleted; Expires=Fri, 07 Aug 2007 08:04:19 GMT',
                key + '; Expires=Fri, 07 Aug 2007 08:04:19 GMT',
                key + '=deleted; Path=/cookie-parser-result; Expires=Fri, 07 Aug 2007 08:04:19 GMT',
                key + '=deleted; Path=/qux; Expires=Fri, 07 Aug 2007 08:04:19 GMT',
                key + '=deleted; Path=/; Expires=Fri, 07 Aug 2007 08:04:19 GMT'
            ];

            strs.forEach(function (str) {
                document.cookie = str;
                document.cookie = str + '; Domain=' + document.domain;
                document.cookie = str + '; Domain=.' + document.domain;
                document.cookie = str + '; Domain=' + document.domain + ':8888';
            });
        });
    </script>
</head>
<body>

</body>
</html>