<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<script id="cookies" type="application/json">
    {{{cookies}}}
</script>

<script>

    var paths = [
        '/cookie-parser-result/foo/bar',
        '/cookie-parser-result/foo',
        '/cookie-parser-result/foo/qux',
        '/cookie-parser-result/foo/qux/',
        '/cookie-parser-result/foo/',
        '/cookie-parser-result/foo/qux;',
        '/cookie-parser-result/',
        '/cookie-parser-result'
    ];

    var domains = [
        'http://example.org:8888',
        'http://home.example.org:8888',
        'http://home.example.org.:8888',
        'http://sibling.example.org:8888',
        'http://subdomain.home.example.org:8888',
        'http://sibling.home.example.org:8888'
    ];

    var pendingIFramesCount = paths.length * domains.length;

    paths.forEach(function (path) {
        domains.forEach(function (domain) {
            var iframe = document.createElement('iframe');

            iframe.onload = function () {
                if (--pendingIFramesCount === 0)
                    runTest();
            };

            iframe.src = domain + path + '?delete=true';

            document.body.appendChild(iframe);
        });
    });

    function runTest () {
        // NOTE: assert cookies are clean
        if (document.cookie !== '')
            throw new Error('Cookie are not clean: ' + document.cookie);

        var cookies = JSON.parse(document.querySelector('#cookies').textContent);

        cookies.forEach(function (c) {
            document.cookie = c;
        });

        window.location = '{{{resultUrl}}}';
    }
</script>
</body>
</html>