<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{{{cleanUpIFramesHtml}}}

<script id="cookies" type="application/json">
    {{{cookies}}}
</script>

<script>
    var iframes = document.querySelectorAll('iframe');
    var pendingIFramesCount = iframes.length;

    window.addEventListener('message', function () {
        if (--pendingIFramesCount === 0)
            runTest();
    });

    function runTest () {
        var cookies = JSON.parse(document.querySelector('#cookies').textContent);

        cookies.forEach(function (c) {
            document.cookie = c;
        });

        window.location = '{{{resultUrl}}}';
    }
</script>
</body>
</html>