<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- Clean up cookies after previous runs -->
<iframe src="http://example.org:8888/cookie-parser-result?delete=true"></iframe>
<iframe src="http://home.example.org:8888/cookie-parser-result?delete=true"></iframe>
<iframe src="http://home.example.org.:8888/cookie-parser-result?delete=true"></iframe>
<iframe src="http://sibling.example.org:8888/cookie-parser-result?delete=true"></iframe>
<iframe src="http://subdomain.home.example.org:8888/cookie-parser-result?delete=true"></iframe>
<iframe src="http://sibling.home.example.org:8888/cookie-parser-result?delete=true"></iframe>

<iframe src="http://example.org:8888/cookie-parser-result/foo?delete=true"></iframe>
<iframe src="http://home.example.org:8888/cookie-parser-result/foo?delete=true"></iframe>
<iframe src="http://home.example.org.:8888/cookie-parser-result/foo?delete=true"></iframe>
<iframe src="http://sibling.example.org:8888/cookie-parser-result/foo?delete=true"></iframe>
<iframe src="http://subdomain.home.example.org:8888/cookie-parser-result/foo?delete=true"></iframe>
<iframe src="http://sibling.home.example.org:8888/cookie-parser-result/foo?delete=true"></iframe>

<iframe src="http://example.org:8888/cookie-parser-result/foo/bar?delete=true"></iframe>
<iframe src="http://home.example.org:8888/cookie-parser-result/foo/bar?delete=true"></iframe>
<iframe src="http://home.example.org.:8888/cookie-parser-result/foo/bar?delete=true"></iframe>
<iframe src="http://sibling.example.org:8888/cookie-parser-result/foo/bar?delete=true"></iframe>
<iframe src="http://subdomain.home.example.org:8888/cookie-parser-result/foo/bar?delete=true"></iframe>
<iframe src="http://sibling.home.example.org:8888/cookie-parser-result/foo/bar?delete=true"></iframe>

<iframe src="http://example.org:8888/cookie-parser-result/foo/qux?delete=true"></iframe>
<iframe src="http://home.example.org:8888/cookie-parser-result/foo/qux?delete=true"></iframe>
<iframe src="http://home.example.org.:8888/cookie-parser-result/foo/qux?delete=true"></iframe>
<iframe src="http://sibling.example.org:8888/cookie-parser-result/foo/qux?delete=true"></iframe>
<iframe src="http://subdomain.home.example.org:8888/cookie-parser-result/foo/qux?delete=true"></iframe>
<iframe src="http://sibling.home.example.org:8888/cookie-parser-result/foo/qux?delete=true"></iframe>

<iframe src="http://example.org:8888/cookie-parser-result/foo/qux/?delete=true"></iframe>
<iframe src="http://home.example.org:8888/cookie-parser-result/foo/qux/?delete=true"></iframe>
<iframe src="http://home.example.org.:8888/cookie-parser-result/foo/qux/?delete=true"></iframe>
<iframe src="http://sibling.example.org:8888/cookie-parser-result/foo/qux/?delete=true"></iframe>
<iframe src="http://subdomain.home.example.org:8888/cookie-parser-result/foo/qux/?delete=true"></iframe>
<iframe src="http://sibling.home.example.org:8888/cookie-parser-result/foo/qux/?delete=true"></iframe>

<script id="cookies" type="application/json">
    {{{cookies}}}
</script>

<script>
    var delCookiesIFrames = document.querySelectorAll('iframe');
    var pendingIFramesCount = delCookiesIFrames.length;

    function runTest () {
        // NOTE: assert cookies are clean
        if (document.cookie !== '')
            throw new Error('Cookie are not clean: ' + document.cookie);

        var cookies = JSON.parse(document.querySelector('#cookies').textContent);

        cookies.forEach(function (c) {
            document.cookie = c;
        });

        window.location = '{{{resultUrl}}}';
    }

    Array.prototype.slice.call(delCookiesIFrames).forEach(function (iframe) {
        iframe.onload = function () {
            if (--pendingIFramesCount === 0)
                runTest();
        };
    });
</script>
</body>
</html>