.text-center {
    vertical-align: middle !important;
    text-align: center;
}

.description {
    padding: 10px 10px 25px;
}

.test-anchor::before {
    content: ' ';
}

.success-text {
    color: green;
}

.fail-text {
    color: red;
}

.info-text,
.info-text {
    color: gray;
}

.info-text::before {
    content: ' ';
}

thead {
    background-color: white;
}

code {
    color: black;
}