.text-center {
    vertical-align: middle !important;
    text-align: center;
}

.description {
    margin: 10px 10px 25px;
}

.test-anchor::before {
    content: ' ';
}

.success-text {
    color: green;
}

.fail-text {
    color: red;
}

.browser-version {
    color: gray;
}

.browser-version::before {
    content: ' ';
}

thead {
    background-color: white;
}

code {
    color: gray;
}